{% extends "layout.html" %}

{% block content %}
  <h3>Trip Stuff</h3>
  <hr>
  <form method="GET" action="/">
    <input type="text" name="search" />
    <button type="submit">Search</button>
  </form>
  <hr>
  <ul class="list-unstyled">
    <label for="hotels">Hotel Name</label>
    <select name="hotels">
      {% for hotel in hotels %}
      <option>
        {{ hotel.name }}
      </option>
      {% endfor %}
    </select>
    <p>

     <label for="restaurants">Restaurants</label>
    <select name="restaurants">
      {% for restaurant in restaurants %}
      <option>
        {{ restaurant.name }}
      </option>
      {% endfor %}
    </select>
    <p>
    <label for="activities">Activities</label>
    <select name="activities">
      {% for activitie in activities %}
      <option>
        {{ activitie.name }}
      </option>
      {% endfor %}
    </select>
  </ul>
{% endblock %}
